* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #E5E5E5;
}

.grid-container {
  /*position: absolute;*/
  /*top: 66px;*/
  /*left: 0;*/
  /*right: 10px;*/
  /*bottom: 0;*/
  /*overflow: auto;*/
  width: 600px;
  height: 600px;
  /*overflow: auto;*/
}

.grid {
  /*width: 600px;*/
  /*height: 600px;*/
  /*overflow: auto;*/
  position: relative;
  height: 100%;
  list-style: none;
  /* Will be modified by the grid jquery lib, depending on the items */
  -webkit-transition: width .2s, height .2s;
          transition: width .2s, height .2s;
}

.grid li {
  position: absolute;
  z-index: 1;
  text-align: center;
  font-weight: bold;
  line-height: 4em;
  cursor: pointer;
  -webkit-transition: top .2s, left .2s, width .2s, height .2s, font-size .2s, line-height .2s;
          transition: top .2s, left .2s, width .2s, height .2s, font-size .2s, line-height .2s;
}

.grid li .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 10px;
  border: 1px solid #BBB;
  background: #FFF;
  -webkit-transition: background 3s;
          transition: background 3s;
  overflow: auto;
}

.grid li.changed .inner {
  background: #FF6;
  -webkit-transition: none;
          transition: none;
}

.grid li.ui-draggable-dragging {
  -webkit-transition: none;
          transition: none;
}

.grid li.position-highlight {
  -webkit-transition: none;
          transition: none;
}

.grid li.position-highlight .inner {
  border: none;
  background: #CCC;
}

.grid .controls {
  box-sizing: border-box;
  margin: 0 10px 0 10px;
  height: 30px;
  border-bottom: 1px solid #BBB;
  font-weight: normal;
  line-height: 1em;
  cursor: move;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}

body>.zoom {
  position: absolute;
  z-index: 2;
  display: none;
  border: 1px solid #BBB;
  background-color: #FFF;
}

body>.zoom .resize {
  display: block;
  /*float: left;*/
  margin: 5px;
  padding: .3em;
  background: #FAFAFA;
  color: #444;
  text-decoration: none;
  font-size: .6em;
}

body>.zoom .resize:hover {
  background: #F1F1F1;
  cursor: pointer;
}

.grid li:hover .controls {
  /*opacity: 1;*/
}

.grid li .controls .icon {
  float: right;
  margin: 5px;
  width: 16px;
  height: 16px;
  border: 1px solid #CCC;
  border-radius: 2px;
  background: url(images/ui-icons_777777_256x240.png) no-repeat;
  cursor: pointer;
  /*position: absolute;*/
}

.grid li .controls .icon.close {
  top: 5px;
  right: 5px;
  background-position: -96px -128px;
}

.grid li .controls .icon.resize {
  top: 5px;
  right: 5px;
  background-position: -144px -48px;
}

.grid li .controls .icon.refresh {
  top: 5px;
  right: 5px;
  background-position: -64px -80px;
}

.grid li .controls .icon.settings {
  top: 5px;
  right: 5px;
  background-position: -193px -112px;
}

.grid li .inner .content {
  position: absolute;
  top: 35px;
  right: 10px;
  bottom: 0;
  left: 10px;
  cursor: auto;
  overflow: auto;
}

.header {
  height: 55px;
  border-bottom: 1px solid #CCC;
}

.footer .button,
.header .button {
  float: left;
  margin: 6px 0 0 10px;
  padding: 0 10px;
  min-width: 40px;
  height: 40px;
  border: solid 1px #CCC;
  background: #FAFAFA;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
}

.header p {
  float: left;
  padding: 14px 0 0 10px;
  font-size: 18px;
  line-height: 18px;
}
